@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #1C2230;
}
body .wrapper {
  height: 100%;
  background-image: url(/images/bg-curvy-desktop.svg);
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-primary {
  padding: 1.2em 6.5em;
  border-radius: 2em;
  border: none;
  color: white;
  background-image: linear-gradient(150deg, #65e2d9, #339ecc);
  cursor: pointer;
  font-size: 0.9em;
}
.btn-primary:hover {
  opacity: 0.9;
}

.btn-secondary {
  width: 100%;
  padding: 0.9em 2em;
  border-radius: 2em;
  border: none;
  color: white;
  background-image: linear-gradient(150deg, #65e2d9, #339ecc);
  cursor: pointer;
  font-size: 0.8em;
}
@media screen and (max-width: 992px) {
  .btn-secondary {
    margin: 0 auto;
    width: 100%;
    padding: 1.5em;
  }
}
.btn-secondary:hover {
  opacity: 0.9;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .hero {
    height: 50vh;
  }
}
.hero .hero-unit {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .hero .hero-unit .cover-primary {
    width: 90%;
  }
}

.cover-secondary {
  width: 85%;
  height: auto;
}

.footer-primary {
  height: 45vh;
  padding-top: 8em;
  display: flex;
  align-items: center;
  background: #0b1523;
  color: #e9e2e2;
}
@media screen and (max-width: 992px) {
  .footer-primary {
    height: 130vh;
    padding-top: 18em;
  }
}
.footer-primary .logo-secondary {
  position: absolute;
  top: 455%;
  left: 5.5%;
}
@media screen and (max-width: 992px) {
  .footer-primary .logo-secondary {
    top: 592%;
    left: 12%;
  }
}
.footer-primary .footer-content {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .footer-primary .footer-content {
    flex-direction: column;
  }
}
.footer-primary .footer-content .location, .footer-primary .footer-content .contact, .footer-primary .footer-content .links {
  padding-left: 2em;
}
.footer-primary .footer-content .location {
  display: flex;
  gap: 1em;
  max-width: 28%;
}
@media screen and (max-width: 992px) {
  .footer-primary .footer-content .location {
    max-width: 85%;
    font-size: 1.2em;
    margin-bottom: 2em;
  }
}
.footer-primary .footer-content .location .location-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0.5em;
}
.footer-primary .footer-content .contact {
  display: flex;
}
@media screen and (max-width: 992px) {
  .footer-primary .footer-content .contact {
    margin-bottom: 5em;
  }
}
.footer-primary .footer-content .contact .phone {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
.footer-primary .footer-content .contact .phone .phone-icon {
  width: 16px;
  height: 16px;
}
.footer-primary .footer-content .contact .email {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}
.footer-primary .footer-content .contact .email .email-icon {
  width: 16px;
  height: 16px;
}
.footer-primary .footer-content .links {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .footer-primary .footer-content .links {
    margin-bottom: 3.5em;
  }
}
.footer-primary .footer-content .links li:hover {
  color: white;
}
.footer-primary .footer-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}
@media screen and (max-width: 992px) {
  .footer-primary .footer-content .socials {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-botton: 3em;
  }
}
.footer-primary .footer-content .socials i {
  gap: 1em;
  padding: 0.5em;
  margin-left: 1em;
  border: 1px solid #c2d3ff;
  font-size: 1em;
  border-radius: 50%;
  cursor: pointer;
}
.footer-primary .footer-content .socials i:hover {
  color: #65e2d9;
}
.footer-primary .footer-content .socials i:nth-child(1) {
  padding: 8px 11.2px;
}

.form-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 400%;
  right: 50%;
  transform: translate(50%, 50%);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
@media screen and (max-width: 992px) {
  .form-container {
    width: 90%;
    top: 500%;
  }
}
.form-container form {
  padding: 2em 3em 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1C2230;
  gap: 1.5em;
  border-radius: 0.1em;
}
@media screen and (max-width: 992px) {
  .form-container form {
    padding: unset;
    justify-content: unset;
    padding: 2.5em 1em 3em 1em;
    border-radius: 0.5em;
  }
}
.form-container form .form-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}
.form-container form .form-content .form-subtitle {
  margin: 0 auto;
  font-size: 0.8em;
}
@media screen and (max-width: 992px) {
  .form-container form .form-content .form-subtitle {
    font-size: 0.9em;
    max-width: 83%;
  }
}
.form-container form .cta {
  width: 100%;
  gap: 1.5em;
}
@media screen and (max-width: 992px) {
  .form-container form .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.form-container form .cta input {
  width: 50%;
  padding-left: 2em;
  border-radius: 2em;
  border: none;
}
@media screen and (max-width: 992px) {
  .form-container form .cta input {
    margin: 0 auto;
    width: 90%;
    padding: 1.3em;
  }
}

.wrapper .cta {
  display: flex;
  justify-content: center;
}
.wrapper .cta .cta-content {
  text-align: center;
}
.wrapper .cta .cta-content .cta-title {
  margin: 0 auto;
  padding-bottom: 0.5em;
  max-width: 700px;
  font-size: 2.5em;
  line-height: 1.5em;
}
@media screen and (max-width: 992px) {
  .wrapper .cta .cta-content .cta-title {
    margin: 0 1em;
    font-size: 1.8em;
  }
}
.wrapper .cta .cta-content .cta-subtitle {
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 1.3em;
}
@media screen and (max-width: 992px) {
  .wrapper .cta .cta-content .cta-subtitle {
    max-width: 335px;
    font-size: 1em;
    padding-bottom: 2em;
  }
}

.wrapper .container .info {
  margin: 0 auto;
  width: 70%;
  padding-top: 10em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .info {
    grid-template-columns: unset;
  }
}
.wrapper .container .info .col {
  text-align: center;
}
.wrapper .container .info .col .icons {
  margin-bottom: 1.3em;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .wrapper .container .info .col .icons {
    margin-bottom: 2em;
  }
}
.wrapper .container .info .col .info-title {
  margin-bottom: 0.5em;
}
.wrapper .container .info .col .info-subtitle {
  margin: 0 auto;
  max-width: 340px;
  font-size: 0.8em;
}

.wrapper .container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper .container .provider {
  width: 90%;
  margin: 7em 3em 5em 5em;
  display: flex;
  align-items: center;
  gap: 3em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .provider {
    width: 100%;
    flex-direction: column;
    margin: 5em 0 0 0;
    gap: 0;
  }
}
.wrapper .container .provider .description {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .provider .description {
    margin-left: 2em;
  }
}
.wrapper .container .provider .description .des-title {
  max-width: 60%;
  font-size: 2em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .provider .description .des-title {
    max-width: 100%;
    font-size: 1.3em;
  }
}
.wrapper .container .provider .description .des-subtitle {
  max-width: 95%;
}
.wrapper .container .provider .description .information .info-link {
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  align-items: center;
}
.wrapper .container .provider .description .information .info-link img {
  margin: 2px 0 0 0.3em;
  width: 16px;
  height: 100%;
}
.wrapper .container .provider .description .solid {
  width: 10.3em;
  margin: 0.2em 0 4em 0;
  border: 0.7px solid #3c9f8f;
}

.wrapper .container {
  display: flex;
  gap: 2.5em;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .wrapper .container {
    padding-bottom: 7em;
    flex-direction: column;
    gap: 1.5em;
  }
}
.wrapper .container .box {
  margin: 7em 0 21em 0;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background: #202a3c;
  border-radius: 0.5em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .box {
    margin: 0 3em;
    font-size: 0.8em;
  }
}
.wrapper .container .box .review {
  margin-bottom: 2em;
}
.wrapper .container .box .author {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.wrapper .container .box .author .profile {
  width: 2em;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .wrapper .container .box .author .profile {
    width: 2.3em;
  }
}
.wrapper .container .box .author .credentials {
  font-size: 0.7em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .box .author .credentials {
    font-size: 0.9em;
  }
}
.wrapper .container .box .author .credentials .enterprise {
  color: #B3BEC8;
}
.wrapper .container .quote {
  position: absolute;
  transform: translate(-1130%, 170%);
}
.wrapper .container .box1 {
  position: relative;
  margin-left: 5em;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .wrapper .container .box1 {
    margin: 0 3em;
  }
}
.wrapper .container .box3 {
  margin-right: 5em;
}
@media screen and (max-width: 992px) {
  .wrapper .container .box3 {
    margin: 0 3em 21em 3em;
  }
}

header {
  display: flex;
  padding: 3em 1em 0 3.5em;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  header {
    padding: 1.5em 0 0 1.5em;
  }
}
header .nav {
  display: flex;
  list-style: none;
}
header .nav li {
  margin-right: 4em;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .nav li {
    font-size: 0.9em;
    margin-right: 2em;
  }
}
header .nav li:hover {
  text-decoration: underline;
}
header .logo {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  header .logo {
    width: 120px;
  }
}

/*# sourceMappingURL=styles.css.map */
