@use '../sass-utils/variables' as *;

.form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400%;
    right: 50%;
    transform: translate(50%, 50%);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

        @media screen and (max-width: 992px) {
                width: 90%;
                top: 500%;
            }

    form {
        padding: 2em 3em 2em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1C2230;
        gap: 1.5em;
        border-radius: .1em;

            @media screen and (max-width: 992px) {
                padding: unset;
                justify-content: unset;
                padding: 2.5em 1em 3em 1em;
                border-radius: .5em;
            }
    
        .form-content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            text-align: center;

            .form-subtitle {
                margin: 0 auto;
                font-size: .8em;

                @media screen and (max-width: 992px) {
                    font-size: .9em;
                    max-width: 83%;
                }
            }
        }
    
        .cta {
            width: 100%;
            gap: 1.5em;

            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            input {
                width: 50%;
                padding-left: 2em;
                border-radius: 2em;
                border: none;

                @media screen and (max-width: 992px) {
                    margin: 0 auto;
                    width: 90%;
                    padding: 1.3em;
                }
            }
        }
    }
}