@use '../sass-utils/variables' as *;

.form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 400%;
    right: 50%;
    transform: translate(50%, 50%);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    outline: 1px solid red; // TEST

        @media screen and (max-width: 992px) {
                width: 90%;
                height: 40%;
                top: 380%;
        }

    form {
        padding: 2em 3em 2em 3em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1C2230;
        gap: 1.5em;
        border-radius: .1em;

    
        outline: 1px solid red; // TEST

            @media screen and (max-width: 992px) {
                padding: 0;
            justify-content: unset;
            }
    
        .form-content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            text-align: center;

            .form-subtitle {
                margin: 0 auto;
                font-size: .8em;
            }
        }
    
        .cta {
            width: 100%;
            gap: 1.5em;
            
            outline: 1px solid red; // TEST

            @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
            }

            input {
                width: 50%;
                padding-left: 2em;
                border-radius: 2em;
                border: none;
            }
        }
    }
}