@use '../sass-utils/variables' as *;

.wrapper .cta {
    display: flex;
    justify-content: center;

    .cta-content {
        text-align: center;

        .cta-title {
            margin: 0 auto;
            padding-bottom: .5em;
            max-width: 700px;
            font-size: 2.5em;
            line-height: 1.5em;

            @media screen and (max-width: 992px) {
                margin: 0 1em;
                font-size: 1.8em;
            }
        }

        .cta-subtitle {
            margin: 0 auto;
            max-width: 600px;
            font-size: 1.2em;
            line-height: 1.5em;
            padding-bottom: 1.3em;

            @media screen and (max-width: 992px) {
                max-width: 335px;
                font-size: 1em;
                padding-bottom: 2em;
            }
        }
    }
}

.wrapper .container .info {
    margin: 0 auto;
    width: 70%;
    padding-top: 10em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;

    @media screen and (max-width: 992px) {
        grid-template-columns: unset;
    }

    .col {
        text-align: center;

        .icons {
            margin-bottom: 1.3em;
            display: flex;
            justify-content: center;

            @media screen and (max-width: 992px) {
               margin-bottom: 2em;
            }
        }

        .info-title {
            margin-bottom: .5em;
        }

        .info-subtitle {
            margin: 0 auto;
            max-width: 340px;
            font-size: .8em;
        }
    }   
}

.wrapper .container {
    width: 100%;
    display: flex;
    justify-content: center;

    .provider {
        width: 90%;
        margin: 7em 3em 5em 5em;
        display: flex;
        align-items: center;
        gap: 3em;

        @media screen and (max-width: 992px) {
            width: 100%;
            flex-direction: column;
            margin: 5em 0 0 0;
            gap: 0;

      }
   
        .description {
            margin-top: 5em;
            display: flex;
            flex-direction: column;
            gap: 1em;


            @media screen and (max-width: 992px) {
                margin-left: 2em;
            }
    
            .des-title {
                max-width: 60%;
                font-size: 2em;
                
                @media screen and (max-width: 992px) {
                    max-width: 100%;
                    font-size: 1.3em;
                }
            }

            .des-subtitle {
                max-width: 95%;
            }
    
            .information .info-link {
                display: flex;
                color: #3c9f8f;
                text-decoration: none;
                align-items: center;
    
                img {
                    margin: 2px 0 0 0.3em;
                    width: 16px;
                    height: 100%;
                }
            }
    
            .solid {
                width: 10.3em;
                margin: 0.2em 0 4em 0;
                border: 0.7px solid #3c9f8f;
            }
        }
    }
}

.wrapper .container {
    display: flex;
    gap: 2.5em;
    justify-content: center;

    @media screen and (max-width: 992px) {
        padding-bottom:7em;
        flex-direction: column;
        gap: 1.5em;
        
        // outline: 1px solid red; // TEST
    }

    .box {
        margin: 7em 0 21em 0;
        padding: 2.5em 1.5em 1.5em 1.5em;
        background: $Dark-Blue4;
        border-radius: .5em;

        @media screen and (max-width: 992px) {
            margin: 0 3em;
            font-size: .8em;
        }

        .review {
             margin-bottom: 2em;
         }

         .author {
             display: flex;
             align-items: center;
             gap: .7em;

             .profile {
                 width: 2em;
                 border-radius: 50%;

                 @media screen and (max-width: 992px) {
                     width: 2.3em;
                 }
             }

             .credentials {
                 font-size: .7em;

                 @media screen and (max-width: 992px) {
                    font-size: .9em;

                 }

                 .enterprise {
                     color: #B3BEC8;
                 }
             }
         }
    }

    .quote {
        position: absolute;
        transform: translate(-1130%, 170%);
    }

     .box1 {
         position: relative; 
         margin-left: 5em;
         z-index: 1;

         @media screen and (max-width: 992px) {
            margin: 0 3em;
         }
     }

     .box3 {
        margin-right: 5em;

        @media screen and (max-width: 992px) {
            margin: 0 3em 21em 3em;
        }
    }
}