@use '../sass-utils/variables' as *;

header {
    display: flex;
    padding: 3em 1em 0 3.5em;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 992px) {
        padding: 1.5em 0 0 1.5em;
    }

    .nav {
        display: flex;
        list-style: none;

        li {
            margin-right: 4em;
            transition: .3s;
            cursor: pointer;

            @media screen and (max-width: 992px) {
                font-size: .9em;
                margin-right: 2em;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .logo {
        cursor: pointer;

        @media screen and (max-width: 992px) {
            width: 120px;
        }
    }
}