@use '../sass-utils/variables' as *;

.cta-btn {
    padding: 1.2em 6.5em;
    border-radius: 2em;
    border: none;
    color: white;
    background-image: linear-gradient(150deg, $Cyan, $Blue);
    cursor: pointer;
    font-size: .9em;

    &:hover {
        opacity: .9;
    }
}