@use '../sass-utils/variables' as *;

.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-unit .cover-primary {
        width: 100%;
        height: auto;
    }
}