$Dark-Blue1: hsl(217, 28%, 15%);
$Dark-Blue2: #1C2230;
$Dark-Blue3: hsl(216, 53%, 9%);
$Dark-Blue4: hsl(219, 30%, 18%);

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-Red: hsl(0, 100%, 63%);
$White: hsl(0, 0%, 100%);